:root {
  --primary-color: #ececec;
  --links-color: #d4ec50;
  --errors-color: #f44545;
  --red-color: #ee5a43;
  --orange-color: #de8508;
  --yellow-color: #eee92f;
  --green-color: #32b225;
  --text-color: #242424;
}
