.page {
  background-color: var(--border-color);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 2rem;
}

.page.page_dark {
  background-image: url('../../assets/bg.jpg');
}