.search_list {
  flex: 1;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
  gap: 20px;
}

.card {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;

  list-style: none;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid var(--bg-color);
  background-color: var(--border-color);
  color: var(--bg-color);
  cursor: pointer;
  transition: all 0.3s ease-in;

  @media (hover: hover) {
    &:hover {
      box-shadow: rgba(21, 21, 22, 0.2) 0px 7px 29px 0px;
    }
  }
}

.card_dark {
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);
  color: var(--border-color);

  @media (hover: hover) {
    &:hover {
      box-shadow: rgba(233, 233, 241, 0.2) 0px 7px 29px 0px;
    }
  }
}

.hero_img {
  max-width: 300px;
  width: 100%;
  margin-bottom: 20px;
}

.hero_desc {
  margin-bottom: 10px;
}

.title {
  margin-top: 60px;
  color: var(--border-color);
}

.checkbox_wrapper {
  display: flex;
  margin-left: auto;
  align-items: flex-end;
}

.checkbox {
  width: 20px;
  height: 20px;
}