.wrapper {
  display: flex;
  flex-direction: row;
  padding: 2rem;

  @media (max-width: 768px) {
    flex-wrap: wrap;
  }
}
.controls_block {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 2rem;
}

.title {
  margin-top: 60px;
  color: var(--border-color);
}
