.block {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  align-items: center;

  @media (max-width: 600px) {
    column-gap: 5px;
  }
}

.dots_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  color: var(--bg-color);
  border: 1px solid transparent;
  border-radius: 50%;

  @media (max-width: 600px) {
    width: 30px;
    height: 30px;
  }
}

.dots_item_dark {
  color: var(--border-color);
}


.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 1px solid var(--active-color);
  border-radius: 50%;
  color: var(--bg-color);
  cursor: pointer;
  transition: all 0.3s ease-in;

  @media (hover:hover) {
    &:hover {
      background: var(--accent-color);
      color: var(--bg-color);
    }
  }

  &:active {
    transform: translateY(2px);
  }
}


.item_dark {
  border: 1px solid var(--accent-color);
  color: var(--border-color);
}

.item.active {
  background: var(--accent-color);
  color: var(--bg-color);
}

.arrow_left,
.arrow_right {
  width: 40px;
  height: 40px;
  background: var(--bg-color);
  border: none;
  border-radius: 50%;
  position: relative;
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s ease-in;

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.arrow_left_dark,
.arrow_right_dark {
  background: transparent;
  border: none;
}


.arrow_img {
  width: 20px;
  height: 20px;
}

.arrow_next_img {
  width: 20px;
  height: 20px;
  transform: rotate(180deg);
}