.search_block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.search_input {
  padding: 4px 20px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  min-height: 40px;
  outline-color: var(--accent-color);
}

.search_button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  border-radius: 8px;
  background: transparent;
  border: 1px solid var(--accent-color);
  transition: all 0.3s ease-in;
}

@media (hover: hover) {
  .search_button:hover {
    background-color: var(--accent-color);
  }
}

.search_list {
  padding: 20px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
  gap: 20px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
}

.card {
  padding: 20px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
}

.hero_img {
  max-width: 300px;
  width: 100%;
  margin-bottom: 20px;
}

.hero_desc {
  margin-bottom: 10px;
}
