.overlay {
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.wrapper {
  height: fit-content;
  min-height: 400px;
  min-width: 300px;
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem 1rem;
  border: 1px solid var(--border-color);
  color: var(--border-color);
  border-radius: 10px;
  position: sticky;
  top: 20px;
  background-color: var(--bg-color);
}

.close_btn {
  margin-left: auto;
  background: transparent;
  border: none;
  color: var(--accent-color);
  font-size: 2rem;
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s ease-in;

  @media (hover:hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}

.hero_img {
  max-width: 300px;
  width: 100%;
  margin-bottom: 20px;
}

.hero_desc {
  margin-bottom: 15px;
}

.hero_info {
  text-align: left;
  margin-bottom: 10px;
}

.title {
  margin-top: 60px;
  color: var(--border-color);
}