.search_block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.label {
  position: relative;
  display: inline-block;
}

.search_input {
  min-width: 300px;
  padding: 4px 20px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  height: 40px;
  outline-color: var(--accent-color);
  background-color: var(--bg-color);
  color: var(--border-color);
}

.clear_btn {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 30px;
  line-height: 30px;
  z-index: 1000;
  color: var(--accent-color);
  cursor: pointer;
  display: none;
}

.clear_btn.clear_btn_visible {
  display: block;
}

.button {
  height: 40px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease-in;
}

.search_button {
  background-color: transparent;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

@media (hover: hover) {
  .search_button:hover {
    background: var(--accent-color);
    border: 1px solid var(--accent-color);
    color: var(--bg-color);
  }
}

.search_button:active {
  transform: translateY(2px);
}
