:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
  font-size: 18px;
  margin-bottom: 10px;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s ease-in;
  display: inline-block;
  text-align: left;
  width: fit-content;
  border: 1px solid rgb(212, 236, 80);
  padding: 6px 10px;
  border-radius: 8px;
}

a:hover {
  background-color: #ececec;
  border: 1px solid #ececec;
  color: rgb(62, 62, 61);
}

a + a {
  margin-left: 20px;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  margin: 20px 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
